
        *{
            margin: 0;
            padding: 0;
        }

       body >h1{
            text-align: center;
           
        }

        .todo{
            height: 20vh;
            width: 40vw;
            margin: 10% auto;
            background-color: rgb(255 255 255 / 95%);;
            box-shadow: 0px 0px 7px 5px #e9dbdb;

        }
        .container{
            height: 20vh;
            width: 30vw;
            display: flex;
            margin:  5% auto;
            justify-content: center;

           
        }
        button{
            height: 33%;
            width: 20%;
            border-radius: 10%;
            border: none;
            background-color: blue;
            color: #3f51b5;
            border-color: #3f51b5;
            color: white;
            cursor: pointer;
        }
        input{
            height: 30%;
            width: 20vw;
            border-color: rgb(231, 221, 221);
        border-radius: 8px;
        }
        .text h1{
            text-align: center;
        }

        ::placeholder{
            color: black;
            font-weight: bold;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        input:focus{
            border-color: blue;
            outline: none;
        }

        #taskvalues{
                 height: 30vh;
                width: 20vw; 
              background-color:rgb(255 248 248 / 95%);
                margin: 0% 30% 2% 30%;
                overflow-y: auto;
                padding: 10px;
        }
        #taskvalues li{
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            list-style-type: none;
            background-color: rgba(255, 0, 0, 0.384);
            padding: 10px;
            margin: 10px;
            cursor: pointer;
        }
        .cut{
            text-decoration: line-through;
        }

          #taskvalues li:hover{
            box-shadow: 0px 0px 2px 2px rgba(252, 82, 82, 0.521);
          }
       
   